body{
    background: url("../images/background/city.jpg") repeat;

}
p{
    font-family:ubuntu;
}
.wrapper{
    position:absolute;
    margin:0;
    border:0;
    left:0;
    top:0;
    height:100%;
    width:100%;
    background-color:#e0e0e0cf;
}


.header {
    display:inline-block;
    left:0;
    top:0;
    width:100%;
    border-radius:2px;
    background-color:#fdfdfd;
    height:auto;
    box-shadow:1px 1px 20px #988e8e;
}
.header .logo{
    float:left;
    padding:20px;
    /* left: 500px; */
}

.header a{
    color:#8e8989;
    font-family:Ubuntu;
    font-size:30px;
    float:left;
    padding:20px;
}
.header a:hover{
    cursor:pointer;
    color:#000000;
}
.header .header_logout:hover{
    cursor:pointer;
    color:#ff5a5a;
}
h1{
    font-family: lato;
    color:white;
    font-weight: 400;
    font-size:35px;
    line-height:90%;
    padding-bottom:140px;
    padding-top:150px;
    position:relative;
    text-align:center;

}

.content{
    width:100%;
    position:relative;
    margin-left:0;
    margin-right:0;
    padding-bottom:200px;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.list_description{
    margin-top:10px;
}
.list_description p{
    font-family:Ubuntu;
}
.list_description-name{
    font-size:25px;
    padding:0;
    margin:0;
    margin-left:40px;
    font-family:bold;
    float:left;
}
.list_description-type{
    float:left;
    font-size:25px;
    padding:0;
    margin:0;
    margin-left:100px;
}
.list_description-description{
    float:left;
    font-size:25px;
    padding:0;
    margin:0;
    margin-left:120px;
    font-family:bold;
}
#list{
    list-style:none;
    margin:0;
    padding:0;
    border:0;
    width:100%;
}
.line{
    background-color:#8a8686;
    width:100%;
    height:3px;
}
#list{
    background-color:#f5f5f5cf;
    border-radius:30px;
    padding-bottom:30px;
    padding-top:10px;
}
.tile{
    display:inline-block;
    position:relative;
    border-radius:20px;
    margin-left:20px;
    width:98%;
    background-color:white;
    transition: transform 1.2s;
    -webkit-transition: transform .2s;


}
.tile p{
    font-size:25px;
    font-weight:lighter;
    margin:0;
    border:0;
    float:left;
    margin-left:20px;
}

.tile .name{
    width:150px;
}
.tile .type{
    width:150px;
}

.tile:hover{
    box-shadow:1px 1px 50px #c3bfbf;
    transform:scale(1.01);
}

.list_button{
    float:right;
    margin-right:20px;
    color:#8e8e8e;
}

.preview:hover{
    color: #4a63d7;
    cursor: pointer;
}

.download:hover{
    color: #4CAF50;
    cursor: pointer;
}

.approve:hover{
    color:green;
    cursor: pointer;
}
.decline:hover{
    color:red;
    cursor: pointer;
}

.nav li a {
    position: relative;
    display: block;
    padding: 20px 0 20px 50px;
    font-size: 12px;
    color: #eee;
    border-bottom: 1px solid #222;
}

.nav li a:before {
    font: 14px fontawesome;
    position: absolute;
    top: 19px;
    left: 20px;
}
.content.isOpen {
    transform: translate3d(220px,0,0);
}
#float_button{
    position:fixed;
    background-color:white;
    color:#4CAF50;
    border-radius:30px;
    box-shadow:1px 1px 40px #b3b0b0;
    padding:15px;
    top:90%;
    left:90%;
}
#float_button:hover{
    cursor:pointer;
    color:#4ac74f;
}

.submission_form{
    display:none;
    background-color:#ffffffdb;
    box-shadow:1px 1px 50px #a5a5a5;
    border-radius:30px;
    position:fixed;
    left:calc(50% - 235px);
    padding:50px;

}

.forms_fieldset{
    border:0;
    text-align:center;
}
.forms_field{
    position:relative;

}
.forms_fieldset input{
    background-color:#e4e4e4;
    border:0;
    border-radius:3px;
    padding:10px;
}
.forms_buttons{
    text-align:center;
}
.forms_buttons input,button{
    background-color:transparent;
    padding:10px;
    font-size:20px;
    text-align:center;
    border:0;

}
.forms_buttons input:hover,button:hover{
    cursor:pointer;
    color:#a2a2a2;
}

.modal{
    display:none;
}



