body{
    background: url("../images/background/city.jpg") repeat;

}
p{
    font-family:ubuntu;
}
.wrapper{
    position:absolute;
    margin:0;
    border:0;
    left:0;
    top:0;
    height:100%;
    width:100%;
    background-color:#e0e0e0cf;
}



.content{
    overflow:scroll;
    margin:0;
    padding:inherit;
    height:90vh;

}

.card{
    margin-left:auto;
    margin-right:auto;
    margin-top:100px;
    margin-bottom:auto;
    padding:0;
    height:80%;
    width: 90%;
    border-radius:20px;
    box-shadow:1px 1px 50px #c3bcbc;
    background-color:white;
    text-align:center;

}
.avatar{
    top:16%;
    transform:scale(3);
    position:relative;
    z-index:100;
    border-radius:30px;
    border:1px solid #a5a5a58c;
}
.card_name{
    margin-top:100px;
}
.card p{
    font-size:20px;
    position:relative;
}
.card a{
    margin-top:30px;
    display:inline-block;
    margin-left:20px;
    position:relative;
}

.a{
    cursor:pointer;
}








