body{
    background: url("../images/background/city.jpg") repeat;

}
p{
    font-family: 'Raleway', sans-serif;
}
.wrapper{
    position:absolute;
    margin:0;
    border:0;
    left:0;
    top:0;
    height:110%;
    width:100%;
    background-color:#e0e0e0cf;
}


h1{
    font-family: 'Raleway';
    color:white;
    font-weight: 400;
    font-size:35px;
    line-height:90%;
    margin-top:100px;
    position:relative;
    text-align:center;

}
.content{

    overflow:scroll;
    margin:0;
    padding:inherit;
    height:100vh;

}
.user_filter{
    display:inline-block;
    width:100%;
    margin-top:0;
    padding-top:0;
    background-color:#f3f3f3;
    height:100px;
    box-shadow:1px 5px 20px gray;
}
.user_filter p{
    float:left;
    margin-left:100px;
    font-size:35px;
    padding:auto;
}
.user_filter select{
    width:200px;
    float:left;
    margin-top:calc(50px - 20px);
    font-size:35px;
    padding:auto;
}
.user_filter_user{
    width:auto;
    padding:auto;
    margin:auto;
    left:auto;
}
.user_filter_status{
    width:auto;
    padding:auto;
    margin:auto;
    left:auto;
}
.user_filter_button{
    outline:none;
    height: 50px;
    text-align: center;
    width: 130px;
    border-radius:40px;
    background: #fff0;
    font-size:20px;
    border: 2px solid #8e8989;
    color:#8e8989;
    letter-spacing:1px;
    text-shadow:0;
    margin-top:calc(50px - 25px);
    margin-left:100px;

}
.user_filter_button:hover{
    cursor:pointer;
    color:white;
    background-color:#8e8989;

}
.title{
    font-size:100px;
    padding:20px;
    margin:0;
    color:#525252;
    font-family:ubuntu;
}

.graph{
    display:inline-block;
}
#pie_graph{
    float:left;
    margin-left:150px;
}
#trend_graph{
    float:left;
}
#submission_text{
    float:left;
    font-size: 50px;
    margin-left:calc(50% - 200px);
}
.line{
    background-color:#808080;
    width:100%;
    height:3px;
    float:left;
    margin:0 0 20px 0px;
}

.submissions{
    width:100%;
    padding:20px;
    background-color:transparent;

}
.submissions{
    width:100%;
    border-radius:5px;
    margin-top:4px;
    margin-left:10px;
    background-color:white;
    transition: transform 1.2s;
    -webkit-transition: transform .2s;
}
.submission td,th{
    float:left;
    text-align:left;
    font-family:"Ubuntu",sans-serif;
    font-size:25px;
    font-weight:lighter;
    border:0;
    margin: 0 0 0 20px;
    width:150px;
}
.submission th{

    font-weight:bold;
}
tr:nth-child(odd) {
    background-color: #ffffff;
}

tr:nth-child(even) {
    background-color: #f5f5f5;
}

.submission:hover{
    box-shadow:1px 1px 50px #c3bfbf;
    transform:scale(1.01);
}
.footer{
    width:100%;
    background-color:#f3f3f3;
    display:inline-block;
    padding:10px;
}

.footer .download, .review{
    font-family:ubuntu;
    float:left;
    padding: 10px;
    margin-left: 30%;
    color:#8e8989;
    border:2px solid #8e8989;
    border-radius:30px;

}

.footer .download:hover, .review:hover{
    color:white;
    background-color:#8e8989;
    cursor:pointer;

}

