doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/main.css')
        link(href="https://fonts.googleapis.com/css?family=PT+Serif|Poppins|Ubuntu" rel="stylesheet")
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous")
    body
        .wrapper
            .header
            .content
                .card
                    h3.name Scheitzer Alexander
                    .buttons
                        button.far.fa-edit.fa-3x
                        button.far.fa-thumbs-up.fa-3x
                        button.far.fa-thumbs-down.fa-3x
                    .line
                    p.type
                        | Invoice from Finance Dept.
                .card
                    h3.name Jinpeng He
                    .line
                    p.type
                        | Request from UI Dept.
                .card
                    h3.name Runwei Li
                    .line
                    p.type
                        | Invoice from AI Dept.









