doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/main.css')
        link(href="https://fonts.googleapis.com/css?family=PT+Serif|Poppins|Ubuntu" rel="stylesheet")
    body
        .wrapper
            .







