doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/welcome.css')
        link(href="https://fonts.googleapis.com/css?family=PT+Serif|Poppins|Ubuntu" rel="stylesheet")
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous")
    body

        .wrapper
            .header
                p.welcome_sentence Hi, Jinpeng
                a.logout_button Log out
            .content
                h1   Hi, Admin
                h1 this week you have 15 requests need to approve
                a(href="/stat") click here to see statistic
                br
                a(href="/main") start now









